.font-size-0 { font-size: $font-size-0 !important; }
.font-size-1 { font-size: $font-size-1 !important; }
.font-size-2 { font-size: $font-size-2 !important; }
.font-size-3 { font-size: $font-size-3 !important; }
.font-size-4 { font-size: $font-size-4 !important; }
.font-size-5 { font-size: $font-size-5 !important; }
.font-size-6 { font-size: $font-size-6 !important; }

.font-weight-medium { font-weight: $font-weight-medium !important; }

a {
  transition: color 0.2s ease-in-out;
}

a.text-reset.text-decoration-none,
a.text-body.text-decoration-none,
a.text-black.text-decoration-none {
  transition: $transition-base;
  
  &:hover {
    color: $primary !important;
  }
}
