// Color system

$white: #fff;
$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$black: #000;

$primary: #0174b4;
$secondary: #30485d;
$light: $gray-200;
$dark: #1b2a38;

$red: #dd0000;
$orange: #ee7700;
$yellow: #ffee00;
$green: #00bb00;
$blue: #3ab8e0;

$danger: $red;
$warning: $orange;
$success: $green;
$info: $blue;

$theme-colors: (
  'white': $white,
  'gray-50': $gray-50,
  'gray-100': $gray-100,
  'gray-200': $gray-200,
  'gray-300': $gray-300,
  'gray-400': $gray-400,
  'gray-500': $gray-500,
  'gray-600': $gray-600,
  'gray-700': $gray-700,
  'gray-800': $gray-800,
  'gray-900': $gray-900,
  'black': $black,
  'primary': $primary,
  'secondary': $secondary,
  'light': $light,
  'dark': $dark
);

$yiq-text-dark: $gray-900;
$yiq-text-light: $white;
$yiq-contrasted-threshold: 150;

// Options

$enable-validation-icons: false;
$enable-rounded: true;
$transition-base: all 0.2s ease-out;
$body-bg: $white;
$body-color: $gray-800;

// Spacing

$spacer: 1rem;
$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
  15: 15px,
  30: 30px,
  45: 45px,
  60: 60px,
  90: 90px
);

// Fonts

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-size-base: 0.875rem;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$line-height-base: 1.2;
$lead-font-size: ($font-size-base * 1.125);
$lead-font-weight: $font-weight-normal;

$headings-font-weight: $font-weight-bold;

$font-size-0: $font-size-base * 0.625;
$font-size-1: $font-size-base * 0.75;
$font-size-2: $font-size-base * 0.875;
$font-size-3: $font-size-base;
$font-size-4: $font-size-base * 1.125;
$font-size-5: $font-size-base * 1.25;
$font-size-6: $font-size-base * 1.375;

// Buttons + Forms

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;
$input-btn-line-height: 1.5;

$btn-padding-x: 1.5rem;

$input-btn-focus-width: 0.125rem;
$input-btn-focus-color: rgba($gray-500, 0.25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$custom-checkbox-indicator-border-radius: 0.125rem !important;

// Buttons

$btn-transition: color 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out,
  box-shadow 0.2s ease-out;

// Forms

$input-placeholder-color: $gray-500;
$input-border-color: $gray-400;
$input-focus-border-color: $gray-500;
$input-transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;
$custom-forms-transition: background-color 0.2s ease-out, border-color 0.2s ease-out, box-shadow 0.2s ease-out;
$custom-file-text: (
  en: 'Browse',
  ru: 'Выбрать файл'
);

// Modals

$modal-inner-padding: 1.25rem;
$modal-content-border-width: 0;
$modal-content-border-radius: 0;
$modal-backdrop-opacity: 0.75;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-header-padding-y: 1rem;
$modal-header-padding-x: 1.25rem;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x;

$modal-lg: 730px;

$border-radius: 0.3125rem;
$border-radius-sm: 0.125rem;
$border-radius-lg: 0.75rem;
