.section {
  &.section-banner {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    color: $white;
    background-color: $dark;
    background-image: url('/images/main-sm.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .banner-content {
      position: relative;
      height: 380px;
      padding-top: 3rem;

      &::before,
      &::after {
        display: block;
        content: '';
        position: absolute;
        border: 0 solid $white;
      }

      &::before {
        left: 0;
        top: 0;
        width: 75px;
        height: 75px;
        border-top-width: 1px;
        border-left-width: 1px;
      }

      &::after {
        right: 0;
        bottom: 0;
        width: 115px;
        height: 205px;
        border-right-width: 1px;
        border-bottom-width: 1px;
      }

      h1,
      .h1 {
        font-size: 1.5rem;
      }

      .lead {
        font-size: $font-size-base;
      }
    }

    .btn-scroll {
      position: absolute;
      left: 50%;
      bottom: 0;
      padding: 0.25rem;
      border: none;
      border-radius: 99rem;
      box-shadow: 0 0.125rem 0.25rem rgba($black, 0.25);
      transform: translate(-50%, 50%);
      transition: $transition-base;

      &:hover {
        box-shadow: 0 0.5rem 0.75rem rgba($black, 0.25);
      }
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('/images/main-sm-retina.jpg');
    }

    @include media-breakpoint-up(md) {
      background-image: url('/images/main-md.jpg');

      .banner-content {
        height: 440px;

        &::after {
          width: 445px;
          height: 420px;
        }

        h1,
        .h1 {
          font-size: 2rem;
        }

        .lead {
          font-size: 1.125rem;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      padding-top: 2rem;
      padding-bottom: 4rem;
      background-image: url('/images/main.jpg');

      .banner-content {
        height: 592px;
        max-height: calc(100vh - 7rem - 25px);

        h1,
        .h1 {
          font-size: 3rem;
        }

        .lead {
          font-size: 1.5rem;
        }
      }
    }

    @media screen and (min-width: 2600px) {
      background-size: contain;
    }
  }

  &.section-book {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .book-wrapper {
      border-radius: $border-radius;
      box-shadow: 0 0 1.25rem rgba($black, 0.25);
      overflow: hidden;
    }

    @include media-breakpoint-up(sm) {
      h1,
      .h1 {
        font-size: 2rem;
      }
    }

    @include media-breakpoint-up(md) {
      h1,
      .h1 {
        font-size: 3rem;
        text-align: left;
      }
    }

    @include media-breakpoint-up(lg) {
      h1,
      .h1 {
        font-size: 4rem;
      }
    }

    @include media-breakpoint-up(xl) {
      padding-top: 5rem;
      padding-bottom: 4rem;

      h1,
      .h1 {
        font-size: 4.5rem;
      }
    }
  }

  &.section-about {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: $white;
    background-color: $secondary;

    .text-muted {
      color: inherit !important;
      opacity: 0.4;
    }

    .row + .row {
      margin-top: 3rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;

      .row + .row {
        margin-top: 5rem;
      }

      .section-content {
        position: relative;
        z-index: 0;

        &::before {
          display: block;
          content: '';
          position: absolute;
          left: -#{$grid-gutter-width};
          right: 0;
          top: 0;
          bottom: -#{$grid-gutter-width};
          border: 0 solid rgba($white, 0.28);
          border-left-width: 1px;
          border-bottom-width: 1px;
          z-index: -1;
        }
      }
    }
  }

  &.section-schedule {
    background-color: rgba($secondary, 0.05);
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(lg) {
      padding-top: 3rem;
      padding-bottom: 4rem;
    }
  }

  &.section-ask,
  &.section-register {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    @include media-breakpoint-up(lg) {
      padding-top: 3.5rem;
      padding-bottom: 5rem;
    }
  }

  &.section-rules {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: $white;
    background-color: $secondary;

    @include media-breakpoint-up(lg) {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }
  }

  &.section-video {
    background-color: rgba($secondary, 0.05);
    padding-top: 2rem;
    padding-bottom: 2rem;

    .video-wrapper {
      border-radius: 0.5rem;
      cursor: pointer;

      &::after {
        display: block;
        content: '';
        position: absolute;
        left: calc(50% - 48px);
        top: calc(50% - 48px);
        width: 96px;
        height: 96px;
        background-image: url('~assets/images/play.svg');
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        opacity: 1;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
      }

      &.isplaying {
        cursor: default;

        &::after {
          opacity: 0;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      padding-top: 3rem;
      padding-bottom: 6rem;
    }
  }
}
