<template>
  <b-modal
    ref="modalEvent"
    v-model="modalShow"
    size="lg"
    hide-header
    hide-footer
    @hide="onHide"
  >
    <b-row class="py-xl-4">
      <b-col xl="10" offset-xl="1">
        <p class="h3 text-center mb-4">
          Редактирование задачи «{{ event.name }}»
        </p>
        <validation-observer ref="observer" v-slot="{ handleSubmit }">
          <b-form @submit.stop.prevent="handleSubmit(onSubmit)">
            <b-row class="mx-n2">
              <b-col md="6" class="px-2">
                <b-form-group>
                  <validation-provider
                    v-slot="validationContext"
                    name="event.name"
                    rules="required"
                  >
                    <b-form-input
                      v-model="event.name"
                      :state="getValidationState(validationContext)"
                      type="text"
                      placeholder="Название задачи"
                      required
                    ></b-form-input>
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </validation-provider>
                </b-form-group>
              </b-col>
              <b-col md="6" class="px-2">
                <b-form-group>
                  <validation-provider
                    v-slot="validationContext"
                    name="event.date"
                    rules="required"
                  >
                    <VueCtkDateTimePicker
                      v-model="event.date"
                      :label="' '"
                      :locale="'ru'"
                      format="YYYY-MM-DD HH:mm"
                    />
                    <b-form-invalid-feedback>
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </validation-provider>
                </b-form-group>
              </b-col>
            </b-row>
            <b-button type="submit" class="rounded-pill">
              <b-spinner v-if="busy" small class="mr-2 ml-n2"></b-spinner>
              <span v-text="busy ? 'Подождите' : 'Отправить'"></span>
            </b-button>
          </b-form>
        </validation-observer>
      </b-col>
    </b-row>
    <b-button
      variant="white"
      class="btn-round modal-close"
      @click="$refs.modalEvent.hide()"
    >
      <svg-icon name="close" width="16" height="16" />
    </b-button>
  </b-modal>
</template>

<script>
import {
  ValidationProvider,
  ValidationObserver,
  extend,
  localize
} from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker'
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css'

export default {
  components: {
    VueCtkDateTimePicker,
    ValidationProvider,
    ValidationObserver
  },
  props: {
    event: {
      type: Object,
      required: true
    },
    show: {
      type: Boolean,
      default() {
        return false
      }
    },
    busy: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  computed: {
    modalShow: {
      get() {
        return this.show
      },
      set(value) {
        this.$emit('change', value)
      }
    }
  },
  mounted() {
    extend('required', required)

    localize({
      en: {
        messages: {
          required: 'Это поле необходимо заполнить!'
        }
      }
    })
  },
  methods: {
    onSubmit() {
      const formData = {
        taskId: this.event.id,
        taskName: this.event.name,
        taskDate: this.event.date
      }
      this.$emit('submit', formData)
    },
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null
    },
    onHide() {
      this.$emit('hide')
    }
  }
}
</script>
