<template>
  <div class="text-center border-top border-gray-300 py-30">
    <main>
      <section id="schedule" class="section section-schedule">
        <div class="text-center border-top border-gray-300 py-30">
          <input v-model="filter" type="checkbox" @change="filterEvents" />
          <label for="filter">Скрыть выполненные</label>
        </div>
        <div class="text-center border-top border-gray-300 py-30">
          <table class="table table-striped center" align="center">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Название</th>
                <th scope="col">Дата</th>
                <th scope="col">Статус</th>
                <th scope="col">Действие</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="event in eventsFilter"
                :key="event.id"
                class="text-center border-top border-gray-300 py-30"
                md="10"
                lg="8"
                offset-md="1"
                offset-lg="2"
              >
                <th scope="row" class="mb-3">
                  <p class="font-size-4 mb-2">
                    {{ event.id }}
                  </p>
                </th>
                <td class="mb-3">
                  <p class="h3 text-gray-800 mb-2">
                    <input v-model="event.name" />
                  </p>
                </td>
                <td class="mb-3">
                  <p class="font-size-4 mb-2">
                    {{ formatDate(event.date) }}
                  </p>
                </td>
                <td class="mb-3">
                  <input
                    id="checkbox"
                    v-model="event.status"
                    type="checkbox"
                    @change="changeStatus(event.status)"
                  />
                </td>
                <td class="mb-3">
                  <b-button @click="showModal(event)">
                    Редактировать
                  </b-button>
                  <b-button @click="deleteConfirm(event)">
                    Удалить
                  </b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <b-button @click="resetStorage()">
        Сброс localStorage.tasks
      </b-button>
      <modal-editor
        :show="modalShow"
        :busy="busy"
        :event="selectedEvent"
        @submit="onSubmit"
        @hide="modalShow = false"
      ></modal-editor>
    </main>
  </div>
</template>

<script>
import ModalEditor from '~/components/ModalEditor'

export default {
  components: {
    ModalEditor
  },
  data() {
    return {
      busy: false,
      modalShow: false,
      selectedEvent: {},
      filter: false,
      eventsFilter: [],
      events: [],
      eventsStart: [
        {
          id: 1,
          name: 'Сверстать шаблон',
          date: '2020-10-20',
          status: false
        },
        {
          id: 2,
          name: 'Закодить rest api',
          date: '2020-10-21',
          status: false
        },
        {
          id: 3,
          name: 'Протестировать',
          date: '2020-10-22',
          status: false
        }
      ]
    }
  },
  mounted() {
    this.getEvents()
    this.filterEvents()
  },
  methods: {
    getEvents() {
      if (!('tasks' in localStorage)) {
        this.events = this.eventsStart
        localStorage.tasks = JSON.stringify(this.eventsStart)
      } else {
        this.events = JSON.parse(localStorage.tasks)
      }
    },
    filterEvents() {
      if (this.filter === true) {
        this.eventsFilter = this.events.filter((item) => item.status !== true)
      } else this.eventsFilter = this.events
    },
    changeStatus() {
      this.saveToLocalStorage()
      this.filterEvents()
    },
    async deleteConfirm(event) {
      const deleteRow = await this.$bvModal.msgBoxConfirm(
        'Вы уверены, что хотите удалить ?',
        {
          okTitle: 'Да',
          cancelTitle: 'Нет'
        }
      )
      if (deleteRow) {
        this.events = this.events.filter((item) => item.id !== event.id)
        this.filterEvents()
        this.saveToLocalStorage()
      }
    },
    saveToLocalStorage() {
      localStorage.removeItem('tasks')
      localStorage.tasks = JSON.stringify(this.events)
    },
    resetStorage() {
      localStorage.removeItem('tasks')
      this.getEvents()
      this.filterEvents()
    },
    showToast(variant, message) {
      this.$bvToast.toast(message, {
        title: '',
        toaster: 'b-toaster-bottom-center',
        variant,
        solid: true,
        isStatus: true,
        noAutoHide: false,
        headerClass: 'd-none'
      })
    },
    formatDate(dat) {
      const date = new Date(dat)
      return new Intl.DateTimeFormat().format(date)
    },
    showModal(event) {
      this.modalShow = true
      this.selectedEvent = event
    },
    onSubmit(event) {
      try {
        this.saveToLocalStorage()
        this.modalShow = false
        this.showToast('success', 'Успешно сохранено!')
      } catch (e) {
        this.$bvToast.toast(e, {
          title: 'Ошибка',
          variant: 'danger'
        })
        this.showToast('danger', e)
      }
      this.busy = false
    }
  }
}
</script>

<style lang="scss">
.b-toaster.b-toaster-bottom-center {
  bottom: 50%;

  .toast-body {
    padding: 1.25rem 1.5rem;
    font-size: 1.125rem;
  }
}
</style>
